body{
    background-color: rgb(184, 233, 112);
    margin-left: 25%;
    margin-right: 25%;
}
header{
    align-content: center;
}
.entete{
    position: relative;
    top: 20px ;
    right: 10px;
    float: right;
}
.etape1,.etape2,.etape3,.etape4,.etape5{
    background: url(../img/bg_menu.gif) repeat-x 0 -25px;
    float: left;
    border-right:  3px solid white;
    color: white;
    width: 16%;
    height: 35px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.page{
    background-color: white;
    border: 2px solid rgb(67, 151, 67);
}
span{
    background-color: yellow;
}
h2,h1{
    margin-inline-start:10%;
    color: green;
    border-bottom: 2px solid green ;
}
h2{
    border-left: 2px solid green;
}
.etape6{
    float: left;
    background: url(../img/bg_menu.gif) repeat-x 0 -25px;
    width: 16%;
    padding-right: 20px;
    height: 35px;
}

.etape6 p{
    opacity: 0;
}
.imgbg{
    float: left;
}
.imgboite{
    text-align: center;
    align-content: center;
}
.texte{
    margin-left: 10%;
    text-align: justify;
}
.grandtexte{
    text-indent: 25px;
}
.boite{
    background: url(../img/bg_page.gif)  no-repeat;
    margin-left: 20px;
}